@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.routes {
  margin: 200px auto;
  display: flex;
  justify-content: space-evenly;
}

#heading {
  background-color: #FB9F3D;
  height: 164px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbarBtn {
  width: 94px;
  height: 45px;
  border-radius: 5px;
  background-color: #000000;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  color: #000000;
  font-size: 50px;
  margin-left: 100px;

}

#landingBody {
  height: 700px;
  background-color: #1E3C4D;
  display: flex;
  align-items: top;
  justify-content: space-between;
}

#landingInfo {
  width: 900px;
  height: 178px;
  color: #FFFFFF;
  margin-left: 60px;
  margin-top: 100px;
}

#landingSynopsis {
  height: 178px;
  font-size: 64px;
  font: bolder;
  color: #FFFFFF;

}

.landingDesc {
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 30px;
}

#canvasBtn {
  margin-left: 130px;
  margin-top: 80px;
  background-color: #FB9F3D;
  width: 304px;
  height: 76px;
  border-radius: 5px;
  color: #1E3C4D;
  font-size: 24px;
  font: bold
}


#landingImgContainer {
  width: 800px;
  margin-right: 100px;
  margin-top: 100px;
  background-image: url("./components/images/sample.jpg");
  height: 500px;
}

#featuresBody {
  height: 2000px;
  background-color: white;
}

#featuresTitle {
  font-size: 48px;
  padding-top: 50px;
  color: #000000; 
  background-color: white;
  border-bottom: 5px solid #FB9F3D;
  width: fit-content;
  margin: auto auto;
  align-content: center;
  height: 115px;
  
}

.feature {
  height: 700px;
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  align-items: center;
}

.featureInfo {
  padding-left: 150px;
}

.featureText {
  color: black;
  font: bold;
  font-size: 24px;
}

.featureExplanation {
  color: black;
  opacity: 50%;
}

.featureImg {
  width: 600px;
  margin-right: 100px;
  background-image: url("./components/images/sample.jpg");
  height: 400px;
}

.featureSeperator {
  height: 100px;
  display: block;
  background-color:#1E3C4D;
}