@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #EDF1F3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.landingbody {
  width: 100%;
  height: 100%;
  background-color: #EDF1F3;
  overflow-x: hidden;
}

.routes {
  margin: 200px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

#heading {
  background-color: #1976D3;
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.toolbar {
  display: flex;
  gap: 1rem;
  align-items: center;
  overflow-x: hidden;
  width: auto;
  max-width: 100%;
  padding-right: 2rem;
}

.toolbarBtn {
  flex: 0 1 auto;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #1976D3;
  color: #F1F1F1;
  font-size: 1.5rem;
  cursor: pointer;
  white-space: nowrap;
  min-width: 120px;
}

.toolbarBtn:hover {
  background-color: #1565C0;
}

.toolbarBtn:active {
  background-color: #0D47A2;
}

.title {
  color: #EDF1F3;
  font-size: 3rem;
  margin-left: 5%;
}

.titleSubtext {
  color: #EDF1F3;
  font-size: 2rem;
  margin-left: 5%;
}

#landingBody {
  height: 30%;
  background-color: #EDF1F3;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2vh 2vw;
}

#landingInfo {
  width: 50%;
  padding-left: 5vh;
  padding-top: 5vh;
  height: auto;
  color: #141F43;
  align-items: center;
}

#landingSynopsis {
  height: auto;
  font-size: clamp(2rem, 3.5vw, 10rem);
  font: bolder;
  color: #141F43;

}

.landingDesc {
  font-size: clamp(1rem, 1.2vw, 7rem);
  color: #32383D;
  margin-top: 30px;
}

#canvasBtn {
  margin-left: 30%;
  margin-top: 10%;
  background-color: #1976D3;
  width: clamp(10rem, 10vw, 19rem);
  height: 5rem;
  border-radius: 5px;
  color: #EDF1F3;
  font-size: 1.5rem;
  font: bold;
  cursor: pointer;
}

#canvasBtn:active {
  background-color: #4791db;  
  transform: scale(0.96);
}

#landingImgContainer {
  margin-top: 5vh;
  margin-right: 2%;
  width: 40%;
  max-width: 1500px;
  aspect-ratio: 4/3;
  border: 10px solid #141F43;
}

#landingImg {
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center;
  background-image: url("./components/images/background-img.png");
}

#featuresBody {
  min-height: 100vh;
  width: 100%;
  background-color: #F5F7FA;
}

#featuresTitle {
  font-size: 48px;
  padding-top: 50px;
  color: #141F43; 
  background-color: #F5F7FA;
  align-content: center;
  height: 115px;
  margin-bottom: 100px;
  text-align: center;
  
}

.featureBody {
  height: clamp(600px, 70vh, 1500px);
  margin: 2vh 2vw;
  background-color: #EDF1F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.featureImgContainer {
  width: 80%;
  border: 4px solid #141F43;
  aspect-ratio: 4/3;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.featureImg {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.featureHeading {
  font-size: clamp(2rem, 5%, 4rem);
  font: bold;
  color: black;
  padding: 1rem 1rem;
  text-align: center;
}

.featureNotes {
  color: #061F37;
  text-align: left;
  font-size: clamp(1rem, 2.5%, 2rem);
  padding: 1rem 1rem;

}

.featureColumn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  box-sizing: border-box;
  gap: 2rem;
}
