@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.routes {
  margin: 200px auto;
  display: flex;
  justify-content: space-evenly;
}

#heading {
  background-color: #1976D3;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbarBtn {
  width: 94px;
  height: 45px;
  border-radius: 5px;
  background-color: #000000;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  color: #EDF1F3;
  font-size: 50px;
  margin-left: 100px;

}

#landingBody {
  height: 700px;
  background-color: #EDF1F3;
  display: flex;
  align-items: top;
  justify-content: space-between;
}

#landingInfo {
  width: 900px;
  height: 178px;
  color: #32383D;
  margin-left: 60px;
  margin-top: 100px;
}

#landingSynopsis {
  height: 178px;
  font-size: 64px;
  font: bolder;
  color: #32383D;

}

.landingDesc {
  font-size: 24px;
  color: #32383D;
  margin-top: 30px;
}

#canvasBtn {
  margin-left: 130px;
  margin-top: 80px;
  background-color: #1976D3;
  width: 304px;
  height: 76px;
  border-radius: 5px;
  color: #EDF1F3;
  font-size: 24px;
  font: bold
}

#landingImgContainer {
  margin-top: 100px;
  margin-right: 100px;
  width: 800px;
  height: 500px;
  border: 10px solid #141F43;
  margin-bottom: 25px;
}

#landingImg {
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center;
  background-image: url("./components/images/background-img.png");
}

#featuresBody {
  height: 2000px;
  background-color: white;
}

#featuresTitle {
  font-size: 48px;
  padding-top: 50px;
  color: #32383D; 
  background-color: white;
  border-bottom: 5px solid #141F43;
  width: fit-content;
  margin: auto auto;
  align-content: center;
  height: 115px;
  
}

.feature {
  height: 700px;
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  align-items: center;
}

.featureInfo {
  padding-left: 150px;
}

.featureText {
  color: black;
  font: bold;
  font-size: 24px;
}

.featureExplanation {
  color: black;
  opacity: 50%;
}

.featureImg {
  max-height: 500px;
  height: 70%;
  width: auto;
  margin-right: 100px;
  background-image: url("./components/images/background-img.png");
}

.featureSeperator {
  height: 100px;
  display: block;
  background-color:#061F37;
}

.featureBody {
  height: 800px;
  width: 500px;
  margin: 50px;
  background-color: #EDF1F3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureImgContainer {
  width: 400px;
  height: 400px;
  border: 10px solid #141F43;
}

.featureImg {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.featureHeading {
  color: black;
}

.featureNotes {
  color: #061F37;

}